:root {
  --color-bg: #202020;
  --color-answer-bg: #343434;
  --color-text-bg: #484848;
  --color-text: #ECECF1;
  --color-border: #3E3F4B;
}

html, body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--color-bg);
  position: fixed;
  touch-action: none;
  font-family:
    -apple-system,     
    BlinkMacSystemFont,
    "Segoe UI",
    "Helvetica Neue",
    Arial,
    sans-serif;
}

#container {
  position: fixed;
  width: 100%;
  display: grid;
}

#question {
  height: 4em;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--color-text-bg);
  color: var(--color-text);
  display: flex;
  font-size: 20px;
  box-sizing: border-box;
}

#answer {
  height: 6em; 
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--color-answer-bg);
  color: var(--color-text);
  display: flex;
  align-items: center; 
  justify-content: center;
  font-size: 16px;
  outline: none;
}

#correct {
  height: 4em;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--color-text-bg);
  color: var(--color-text);
  display: none;
  font-size: 20px;
  box-sizing: border-box;
}